@font-face {
  font-family: 'Thai sans lite';
  src: url("../font/thaisanslite_r1.ttf") , url("../font/thaisanslite_r1.otf");
}

html {
  * {
    font-family: "Thai sans lite" , sans-serif;
  }


}


.sidebar {
  ul {
    &.nav {
      a {
        p {
          font-size : 20px;
          font-weight: normal;
        }
      }
    }
  }
  h4 , .h4 {
    font-weight: normal;
    font-size: 27.5px;
  }
  h6  ,.h6{
    font-weight: normal;
    font-size: 25px;
  }
}
.main-panel {
  .navbar-default .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }

  .navbar .navbar-nav > li > a {
    font-size: 30px;
  }

  .container-middle-page .panel .panel-heading, .main-panel .navbar-default .navbar-brand {
    color: #ffffff;
    background-color: #A681DA;
    border-color: #8B60CF;
  }
  .container-middle-page {
    .panel {
      &.panel-info {
        border-color: #d6bcf1;
        .panel-heading {
          font-size: 30px;
          font-weight: bold;
        }
        .panel-body {
          .form-group label {
            font-size: 25px;
          }

          .form-group span {
            font-size: 20px;
          }
          div.text-danger.blink {
            font-size: 20px
          }
        }
      }


    }
  }
}

