.form-group  {
  label{
      width: 100%;
  }
  label.btn-file {
      $btn-file-width : 120px;
      $btn-file-border-radius : 4px;
      $text-color : #FFFFFF;
      $text-size : 14px;
      $btn-file-margin : 2px;
      &:hover {
        background-color:#42d0ed;
      }
      background-color:#1DC7EA;
      border-radius: $btn-file-border-radius;
      // line-height = 1:3 of height
      line-height: ($btn-file-width/3);
      margin: $btn-file-margin;
      color : $text-color;
      display: inline-block;
      height: $btn-file-width/3;
      width: $btn-file-width;
      font-size: $text-size;
      text-align: center;
  }
  input[type=file] {
      border:none;
      opacity: 0;
      z-index: -1;
      position: absolute;
  }

  span {
    margin: 5px;
  }

}

auto-complete {
  $element-width: 250px;
  .form-group {
    margin-bottom: 0;
    width: $element-width;
  }

  ul {
    position: absolute;
    width: $element-width;
  }
}