@mixin transform-rotate ($deg) {
  transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
}

@mixin animation ($behavior) {
  animation: $behavior;
  -o-animation: $behavior;
  -ms-animation: $behavior;
  -webkit-animation: $behavior;
  -moz-animation: $behavior;
}

@mixin animation-delay ($sec) {
  animation-delay: $sec;
  -o-animation-delay: $sec;
  -ms-animation-delay: $sec;
  -webkit-animation-delay: $sec;
  -moz-animation-delay: $sec;
}