$header-content-position : center;
$footer-content-position : center;
.modal-content-pattern {
  text-align: $header-content-position;
}
.modal-content {
  .modal-header {
    @extend .modal-content-pattern;
    border-bottom: none;
  }
  .modal-footer {
    @extend .modal-content-pattern;
    border-top: none;
  }
}

.modal-custom {
  @extend .modal-content;
}

.modal-header {
  font-size: 5em;
  padding-bottom: 0;
  .pe-7s-check {
    color: #049F0C;
  }
  .pe-7s-close-circle {
    color: #FF4A55;
  }
}

.modal-body {

  .sk-circle {
    $size : 100px;
    margin: 40px auto;
    width: $size;
    height: $size;
    position: relative;
    .sk-child {
      $child-size : 100%;
      width: $child-size;
      height: $child-size;
      position: absolute;
      left: 0;
      top: 0;
      &:before {
        $loading-color : #8A63CD;
        $behavior : sk-circleBounceDelay 1.2s infinite ease-in-out both;
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: $loading-color;
        border-radius: 100%;
        @include animation($behavior);
      }
    }
    // declare classes
    $loading-class-name : sk-circle !default;
    $number-of-loading-class : 2;
    $deg : 0deg;
    $sec : -1.1s;
    // generate classes
    @while $number-of-loading-class <= 12 {
      .#{$loading-class-name}#{$number-of-loading-class} {
        $deg : $deg+30deg;
        @include transform-rotate($deg);
        &:before {
          $sec :  ($sec)+0.1s;
          @include animation-delay($sec);
        }
      }
      $number-of-loading-class : $number-of-loading-class+1;
    }
  }

}

