$circle-img-radius : 50%;
$side-bar-text-color : #FFFFFF;
$profile-img-size : 170;
.sidebar-profile-img {
  $profile-img-border : 5px solid #EEEEEE;

  border-radius: $circle-img-radius;
  border: $profile-img-border;
  width: $profile-img-size;
  height: $profile-img-size;
}

