@import "./mixin";
@import "./font";
@import "./sidebar";
@import "./modal";
@import "./alert";
@import "./form";
@import "./image";
@import "./button";
@import "./animation";


$form-button-position : center;
table {
  tr {
    text-align: $form-button-position;
  }
}

.card {
  .card-image-header {
    $height-card-img-header : 110px;
    height: $height-card-img-header;
  }
  .author {
    margin-bottom: 15px;
  }
  .footer {
    $footer-padding : 0 15px 15px 15px;
    padding: $footer-padding;
    text-align: $form-button-position;
  }
  p {
    text-align: center;
    line-height: 0.75;
  }
  .btn {
    margin: 5px 10px 10px 10px;
  }

}

.card-board {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  padding: 15px;
}


.margin-top {
  $margin-top : 15px;
  margin-top: $margin-top;
}

.margin-bottom {
  $margin-bottom : 15px;
  margin-bottom: $margin-bottom;
}

.margin-left {
  $margin-left : 15px;
  margin-left: $margin-left;
}

.padding-left {
  $padding-left : 15px;
  padding-left: $padding-left;
}