@font-face {
  font-family: 'Thai sans lite';
  src: url("../font/thaisanslite_r1.ttf"), url("../font/thaisanslite_r1.otf"); }

html * {
  font-family: "Thai sans lite" , sans-serif; }

.sidebar ul.nav a p {
  font-size: 20px;
  font-weight: normal; }

.sidebar h4, .sidebar .h4 {
  font-weight: normal;
  font-size: 27.5px; }

.sidebar h6, .sidebar .h6 {
  font-weight: normal;
  font-size: 25px; }

.main-panel .navbar-default .navbar-brand {
  font-size: 30px;
  font-weight: bold; }

.main-panel .navbar .navbar-nav > li > a {
  font-size: 30px; }

.main-panel .container-middle-page .panel .panel-heading, .main-panel .main-panel .navbar-default .navbar-brand {
  color: #ffffff;
  background-color: #A681DA;
  border-color: #8B60CF; }

.main-panel .container-middle-page .panel.panel-info {
  border-color: #d6bcf1; }
  .main-panel .container-middle-page .panel.panel-info .panel-heading {
    font-size: 30px;
    font-weight: bold; }
  .main-panel .container-middle-page .panel.panel-info .panel-body .form-group label {
    font-size: 25px; }
  .main-panel .container-middle-page .panel.panel-info .panel-body .form-group span {
    font-size: 20px; }
  .main-panel .container-middle-page .panel.panel-info .panel-body div.text-danger.blink {
    font-size: 20px; }

.sidebar-profile-img {
  border-radius: 50%;
  border: 5px solid #EEEEEE;
  width: 170;
  height: 170; }

.modal-content-pattern, .modal-content .modal-header, .modal-custom .modal-header, .modal-content .modal-footer, .modal-custom .modal-footer {
  text-align: center; }

.modal-content .modal-header, .modal-custom .modal-header {
  border-bottom: none; }

.modal-content .modal-footer, .modal-custom .modal-footer {
  border-top: none; }

.modal-header {
  font-size: 5em;
  padding-bottom: 0; }
  .modal-header .pe-7s-check {
    color: #049F0C; }
  .modal-header .pe-7s-close-circle {
    color: #FF4A55; }

.modal-body .sk-circle {
  margin: 40px auto;
  width: 100px;
  height: 100px;
  position: relative; }
  .modal-body .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .modal-body .sk-circle .sk-child:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #8A63CD;
      border-radius: 100%;
      animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      -o-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      -ms-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      -moz-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .modal-body .sk-circle .sk-circle2 {
    transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg); }
    .modal-body .sk-circle .sk-circle2:before {
      animation-delay: -1s;
      -o-animation-delay: -1s;
      -ms-animation-delay: -1s;
      -webkit-animation-delay: -1s;
      -moz-animation-delay: -1s; }
  .modal-body .sk-circle .sk-circle3 {
    transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg); }
    .modal-body .sk-circle .sk-circle3:before {
      animation-delay: -0.9s;
      -o-animation-delay: -0.9s;
      -ms-animation-delay: -0.9s;
      -webkit-animation-delay: -0.9s;
      -moz-animation-delay: -0.9s; }
  .modal-body .sk-circle .sk-circle4 {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); }
    .modal-body .sk-circle .sk-circle4:before {
      animation-delay: -0.8s;
      -o-animation-delay: -0.8s;
      -ms-animation-delay: -0.8s;
      -webkit-animation-delay: -0.8s;
      -moz-animation-delay: -0.8s; }
  .modal-body .sk-circle .sk-circle5 {
    transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg); }
    .modal-body .sk-circle .sk-circle5:before {
      animation-delay: -0.7s;
      -o-animation-delay: -0.7s;
      -ms-animation-delay: -0.7s;
      -webkit-animation-delay: -0.7s;
      -moz-animation-delay: -0.7s; }
  .modal-body .sk-circle .sk-circle6 {
    transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg); }
    .modal-body .sk-circle .sk-circle6:before {
      animation-delay: -0.6s;
      -o-animation-delay: -0.6s;
      -ms-animation-delay: -0.6s;
      -webkit-animation-delay: -0.6s;
      -moz-animation-delay: -0.6s; }
  .modal-body .sk-circle .sk-circle7 {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); }
    .modal-body .sk-circle .sk-circle7:before {
      animation-delay: -0.5s;
      -o-animation-delay: -0.5s;
      -ms-animation-delay: -0.5s;
      -webkit-animation-delay: -0.5s;
      -moz-animation-delay: -0.5s; }
  .modal-body .sk-circle .sk-circle8 {
    transform: rotate(210deg);
    -o-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg); }
    .modal-body .sk-circle .sk-circle8:before {
      animation-delay: -0.4s;
      -o-animation-delay: -0.4s;
      -ms-animation-delay: -0.4s;
      -webkit-animation-delay: -0.4s;
      -moz-animation-delay: -0.4s; }
  .modal-body .sk-circle .sk-circle9 {
    transform: rotate(240deg);
    -o-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg); }
    .modal-body .sk-circle .sk-circle9:before {
      animation-delay: -0.3s;
      -o-animation-delay: -0.3s;
      -ms-animation-delay: -0.3s;
      -webkit-animation-delay: -0.3s;
      -moz-animation-delay: -0.3s; }
  .modal-body .sk-circle .sk-circle10 {
    transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg); }
    .modal-body .sk-circle .sk-circle10:before {
      animation-delay: -0.2s;
      -o-animation-delay: -0.2s;
      -ms-animation-delay: -0.2s;
      -webkit-animation-delay: -0.2s;
      -moz-animation-delay: -0.2s; }
  .modal-body .sk-circle .sk-circle11 {
    transform: rotate(300deg);
    -o-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg); }
    .modal-body .sk-circle .sk-circle11:before {
      animation-delay: -0.1s;
      -o-animation-delay: -0.1s;
      -ms-animation-delay: -0.1s;
      -webkit-animation-delay: -0.1s;
      -moz-animation-delay: -0.1s; }
  .modal-body .sk-circle .sk-circle12 {
    transform: rotate(330deg);
    -o-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg); }
    .modal-body .sk-circle .sk-circle12:before {
      animation-delay: 0s;
      -o-animation-delay: 0s;
      -ms-animation-delay: 0s;
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s; }

div.text-danger.blink {
  font-weight: bold;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite; }

@keyframes blink-animation {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; } }

.form-group label {
  width: 100%; }

.form-group label.btn-file {
  background-color: #1DC7EA;
  border-radius: 4px;
  line-height: 40px;
  margin: 2px;
  color: #FFFFFF;
  display: inline-block;
  height: 40px;
  width: 120px;
  font-size: 14px;
  text-align: center; }
  .form-group label.btn-file:hover {
    background-color: #42d0ed; }

.form-group input[type=file] {
  border: none;
  opacity: 0;
  z-index: -1;
  position: absolute; }

.form-group span {
  margin: 5px; }

auto-complete .form-group {
  margin-bottom: 0;
  width: 250px; }

auto-complete ul {
  position: absolute;
  width: 250px; }

img.img-preview {
  margin: 15px 15px 0 15px;
  width: 10em; }

img.img-details {
  border-radius: 4px;
  border: #ADAEAF 4px solid;
  width: 20em; }

.btn.btn-group:not(:first-child):not(:last-child) {
  border-radius: 0; }

.btn.btn-group:first-child {
  border-radius: 4px 0 0 4px; }

.btn.btn-group:last-child {
  border-radius: 0 4px 4px 0; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

table tr {
  text-align: center; }

.card .card-image-header {
  height: 110px; }

.card .author {
  margin-bottom: 15px; }

.card .footer {
  padding: 0 15px 15px 15px;
  text-align: center; }

.card p {
  text-align: center;
  line-height: 0.75; }

.card .btn {
  margin: 5px 10px 10px 10px; }

.card-board {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  padding: 15px; }

.margin-top {
  margin-top: 15px; }

.margin-bottom {
  margin-bottom: 15px; }

.margin-left {
  margin-left: 15px; }

.padding-left {
  padding-left: 15px; }
